@import "./Variable";
@import "./fonts";

body {
    background: $gray;
    direction: rtl;
}

* {
    font-family: 'Vazir';
}

nav {
    width: 100%;
    text-align: center;

    ul {
        display: inline-flex;
        margin: 0px auto;

        li {
            padding: 10px;
            list-style: none;

            a {
                color: $purple;
                text-decoration: none;
            }
        }
    }
}